language: python

# We need a full clone to make sure setuptools_scm works properly
git:
    depth: false

os:
    - linux

# The apt packages below are needed for sphinx builds. A full list of packages
# that can be included can be found here:
#
# https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise

addons:
    apt:
        packages:
            - graphviz


stages:
   # Do the style check and a single test job, don't proceed if it fails
   - name: Initial tests
   # Test docs, astropy dev, and without optional dependencies
   - name: Comprehensive tests
   # These will only run when cron is opted in
   - name: Cron tests
     if: type = cron


env:
    global:

        # The following versions are the 'default' for tests, unless
        # overridden underneath. They are defined here in order to save having
        # to repeat them for all configurations.

        # The following three variables are for tox. TOXENV is a standard
        # variable that tox uses to determine the environment to run,
        # TOXARGS are arguments passed to tox, and TOXPOSARGS are arguments
        # that tox passes through to the {posargs} indicator in tox.ini.
        # The latter can be used for example to pass arguments to pytest.
        - TOXENV='test'
        - TOXARGS='-v'
        - TOXPOSARGS=''

        # The following is needed to avoid issues if e.g. Matplotlib tries
        # to open a GUI window.
        - SETUP_XVFB=True

matrix:

    # Don't wait for allowed failures
    fast_finish: true

    include:

        # Try MacOS X, usually enough only to run from cron as hardly there are
        # issues that are not picked up by a linux worker. We set language to
        # 'c' since 'python' doesn't work on non-Linux platforms.
        - name: Python 3.7 with required dependencies
          stage: tests
          env: PYTHON_VERSION=3.7 TOXENV=py37-test

    allow_failures:
        # Do a PEP8 test with flake8
        # (do allow to fail unless your code completely compliant)
        # - os: linux
        #   python: 3.8
        #   name: Code style checks
        #   stage: Initial tests
        #   env: TOXENV=codestyle

script:
    - pip install tox
    - tox $TOXARGS -- $TOXPOSARGS

after_success:
    # If coveralls.io is set up for this package, uncomment the two lines below.
    # pip install coveralls
    # coveralls
    # If codecov is set up for this package, uncomment the two lines below
    # pip install codecov
    # codecov
